YII_DEBUG=1  #  включение debug  режима  в прод контуре переключить на 0
YII_ENV=dev  # переключение режима режима  в прод контуре заменить на prod

COOKIE_VALIDATION_KEY=rJQMZDlX7fR__WzJbvtWr2EtIq1ZgWhb
MAIL_HOST=
MAIL_USER=
MAIL_PASS=

# configuration connection postgre
DB_DIVER_NAME=pgsql
DB_PORT=5432
DB_HOST=172.18.104.68
DB_NAME=sitewidget
DB_USERNAME=sitewidget
DB_PASSWORD= # !

# configuration connection redis
REDIS_HOST=redis
REDIS_PORT=6379

# учетка администратора по умолчанию
PK=1
ADMIN_NAME=loginadmin
ADMIN_EMAIL=admin@sitewidget.ru  #email для входа на случай отключения РСАА авторизации
ADMIN_PASS=pass_admin_123 #пароль для входа на случай отключения РСАА авторизации
ADMIN_FIRM=Администратор

DB_EMULATE_PREPARE=0
DB_EMULATE_PREPARE_CONSOLE=0

# Настройка отображения виджета в самой админке.
ISADMINSCRIPT=0
PK_WIDGET=2
DOMAINAPIWIDGET=http://sitewidget.local  # основной host
DOMAINSTATICWIDGET=http://sitewidget.local/static    # путь до статики
DOMAINCUSTOMWIDGET=http://sitewidget.local/custom  # путь до файлов пользователей

# Отображения примера кода, для подключения виджета. Заменить доменные имена на требуемые
ISINFOCOD=1
DOMAININFOAPIWIDGET=http://sitewidget.local
DOMAININFOCUSTOMWIDGET=http://sitewidget.local/custom    # путь до статики  в отображаемом примере подключения
DOMAININFOSTATICWIDGET=http://sitewidget.local/static # путь до файлов пользователей  в отображаемом примере подключения

SWAGGER_SERVER_API=http://sitewidget.local  # для локальной разработки


GMT_SERVERS=+5 # фактический часовой пояс - требуется для более точного определения начала/окончания дня, в логах


# кол-во строк из redis ,  обрабатываемых кроном для логов в минуту
CRON_LIMIT_READ_REDIS_LINES=50

# ограничение публичного API ассистента за окно
# общий лимит клиента: public_key + action
ASSISTANT_API_CLIENT_RATE_LIMIT=1000
# защита от шумного посетителя: public_key + IP + action
ASSISTANT_API_VISITOR_RATE_LIMIT=120
ASSISTANT_API_RATE_WINDOW_SECONDS=60

# настройка интеграции с бигдата
BIGDATA_LOGIN= # !
BIGDATA_PASS= # !
BIGDATA_LOCATION_HOST=http://172.17.105.244
BIGDATA_LOCATION_PORT=15672
BIGDATA_LOCATION_PATCH_IN=/api/exchanges/%2f/amq.default/publish
BIGDATA_LOCATION_PATCH_OUT=/api/queues/%2F/AI.WORKER.TASKS.OUT/get


TYPE_DEPLOYED=MIRS # не менять

# настройка интеграции с РСАА
TYPE_AUTH=RSAA
RSAA_HOST=https://auth.permkrai.ru
RSAA_LK_HOST=https://office.permkrai.ru/clients?search=cipp&active=1&n_active=1&pending=1&page=1&order=asc&all=1
RSAA_CLIENT=cipp
RSAA_SECRET= # !
RSAA_LOGOUT_URL=https://auth.permkrai.ru/auth/realms/pk/protocol/openid-connect/logout
RSAA_LOGOUT_REDIRECT_URL=https://sgdev.permkrai.ru/logout
RSAA_REDIRECT_URI=https://sgdev.permkrai.ru/site/auth
RSAA_AUTH_URL=https://auth.permkrai.ru/auth/realms/pk/protocol/openid-connect/auth
RSAA_TOKEN_URL=https://auth.permkrai.ru/auth/realms/pk/protocol/openid-connect/token
RSAA_USERINFO_URL=https://auth.permkrai.ru/auth/realms/pk/protocol/openid-connect/userinfo

# сортировка модулей - курсы подсказки онбординги чатботы бигдата техподдержка опросы
ORDER_MODULES="[\"courses\",\"hints\",\"onboardings\",\"chatbots\",\"bigdata\",\"tpotrs\",\"surveys\"]"
